<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section id="comprar" class="com">
							<div class="container">
	
								<header>
									<h2>comprar</h2>
								</header>
	
								<a href="#" class="image featured1"><i class="fas fa-shopping-cart"></i></a>
								<form method="post1" action="#1">
										<div class="row">
											<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Modelo" /></div>
											<div class="col-6 col-12-mobile"><input type="text" name="tipo" placeholder="tipo" /></div>
											<div class="col-6 col-12-mobile"><input type="text" name="forma de pago" placeholder="Forma de pago"/></div>
											<div class="col-6 col-12-mobile"><input type="text" name="cantidad" placeholder="unidades"/></div>
											<div class="col-12">
												<input type="submit" value="Enviar" />
											</div>
										</div>
									</form>
							</div>
						</section>
    
</body>
</html>